.footer {
    background-color: white;
    padding: 10px 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
  }
  
  .footer-text {
    margin: 0;
  }
  
  .footer-nav {
    margin-top: 10px;
  }
  
  .footer-link {
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
  }
  
  .footer-link:hover {
    text-decoration: underline;
  }
  